APP_URL=http://localhost:5173
APP_URLS=http://localhost:5173,http://127.0.0.1:5173
STRIPE_SECRET_KEY=sk_test_VOTRE_CLE
STRIPE_WEBHOOK_SECRET=whsec_VOTRE_SECRET
STRIPE_PRICE_PRO_MONTHLY=price_VOTRE_PRIX_MENSUEL
STRIPE_PRICE_PRO_YEARLY=price_VOTRE_PRIX_ANNUEL
